{$SITE_ADDR} {

    @backend {
        path /api/*
        path /login/*
        path /images/serving/*
        path /images/thumbnail/*
        path /images/profile/*
    }
    handle @backend {
        reverse_proxy {$BACKEND_UPSTREAM:backend:8080}
    }

    handle {
        reverse_proxy {$FRONTEND_UPSTREAM:frontend:3000}
    }

}
