GOOGLE_MAPS_API_KEY=GOOGLE_MAPS_API_KEY
JWT_SECRET_KEY=JWT_SECRET_KEY
IMAGE_UPLOAD=/images
SERVING_UPLOAD=/images/serving
THUMBNAIL_UPLOAD=/images/thumbnail
PROFILE_UPLOAD=/images/profile
IMAGE_FILE_SIZE=10MB
MAX_IMAGE_FILES_SIZE=100MB
ACCESS_TOKEN_EXPIRATION_SECONDS=18000
REFRESH_TOKEN_EXPIRATION_SECONDS=604800
LOG_DIR=/app/logs
TEMP_PROFILE_IMAGE=src/test/resources/images/profile
MYSQL_USER=triptrace
MYSQL_PASSWORD=1012204
CORS_ALLOWED_ORIGINS=http://localhost:3000
THUMBNAIL_WIDTH=1024
THUMBNAIL_HEIGHT=1024
SPRING_DATASOURCE_URL=
APP_TIME_ZONE=Asia/Seoul
